@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color:rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  text-align: center;
  background-color: rgb(137, 175, 137);
  /* background-color: rgb(250, 180, 88); */
  /* background-color: rgb(221, 76, 76); */
}

@media (prefers-reduced-motion: no-preference) {
  .qrlogo {
    animation: App-logo-spin infinite 0.2s linear;
  }
  .homepe {
    animation: App-logo-spin infinite 0.5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
